# SQL Server Database Connection String Configuration
DB_CONNECTION=

# JWT Security Configurations (256-Bit Secret Key Required)
JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_EXPIRY_MINUTES=

# Logging Configurations
SERILOG_PATH=

# ASP.NET Core Environment Setup
ASPNETCORE_ENVIRONMENT=
ASPNETCORE_URLS=
